<section id="content">
  <article class="item">01</article>
  <article class="item">02</article>
  <article class="item">03</article>
  <article class="item">04</article>
</section>

<style>
  #content {
    background: #e7eef5;
    height: 500px;
    display: flex;
    flex-direction: row; /* row, column, row-reverse, column-reverse */
    flex-wrap: no-wrap; /* no-wrap, wrap, wrap-reverse */
    justify-content: flex-start; /* flex-start, flex-end, space-arount, space-between */
    align-items: stretch; /* flex-start, flex-end, center, stretch, baseline */

  }

  .item {
    /* flex: 0 1 auto; grow shrink basis */
    flex-grow: 0; /* ocupa o resto da largura da div */
    flex-shrink: 1; /* encolhe a nossa div */
    flex-basis: 65px; /* define a largura de cada elemento, caso não tenha */
    height: 100px;
    color: black;
    box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.24);
    background: white;
    margin: 5px;
  }

  .item:nth-child(1) {
    flex-grow: 1;
    align-self: auto; /* mesma coisa do align-items, mas pro elemento específico */
  }
</style>