<div class="super-info">
  <div class="info-item">
    <p> Seg / Sáb - 08:00 ás 18:00</p>
    <a href="tel:+5562998550998">+55 62 99855-0998</a>
    {{!-- <p>Rua João Luzia, 330, Residencial Porto Seguro, Abadia de Goiás - GO</p> --}}
		<p>Abadia de Goiás - GO</p>
  </div>
</div>

<header class="menu-container">
  <div class="menu">
    <div class="menu-logo">
      <a href="">Instituto Assistir</a>
    </div>
    <nav class="menu-nav">
      <ul>
        <li><a href="#sobre">O Instituto</a></li>
        <li><a href="#produtos">Projetos</a></li>
        <li><a href="#preco">Contato</a></li>
        <li><a href="#qualidade">Doações</a></li>
      </ul>
    </nav>
  </div>
</header>

<h1 class="introduction">Como você pode <br>Ajudar?</h1>

<section class="sobre" id="sobre">
  <div class="sobre-info">
    <h1>Por um futuro melhor</h1>
    <p>Oferecemos assistência social a famílias em situação de risco e vulnerabilidade social.</p>
		<p>Contribua com o seu tempo, seu amor e sorriso. Ajude-nos a continuar gerando frutos e possibilitando que mais famílias possam sonhar e ter a esperança de um futuro e um presente com mais dignidade e felicidade.</p>
  </div>
  {{!-- <div class="sobre-img">
		<img src="/images/image-1.jpg" alt="Sobre 1">
	</div> --}}
	<div class="sobre-img">
		<img src="/images/image-2.jpg" alt="Sobre 2">
	</div>
</section>

<section class="produtos" id="produtos">
  <h1>Projetos</h1>
  <div class="produtos-container">
    <div class="produtos-item purple">
      <h2>Alfabetização</h2>
      <img src="/images/produtos1.jpg" alt="Produtos 1">
    </div>
    <div class="produtos-item pink">
      <h2>Educação Musical</h2>
      <img src="/images/produtos2.jpg" alt="Produtos 2">
    </div>
    <div class="produtos-item blue">
      <h2>Casa de Acolhimento</h2>
      <img src="/images/produtos3.jpg" alt="Produtos 3">
    </div>
  </div>
</section>

<section class="preco" id="preco">
		<div class="preco-item">
			<h2>Cobre</h2>
			<span><sup>R$</sup>19</span>
			<ul>
				<li>Planos Ilimitados</li>
				<li>Acesso Restrito</li>
				<li>Conteúdo Secreto</li>
				<li>Suporte 24h</li>
			</ul>
			<a href="#">Comprar</a>
		</div>
		
		<div class="preco-item">
			<h2>Prata</h2>
			<span><sup>R$</sup>39</span>
			<ul>
				<li>Planos Ilimitados</li>
				<li>Acesso Restrito</li>
				<li>Conteúdo Secreto</li>
				<li>Suporte 24h</li>
				<li>Compra Exclusiva</li>
			</ul>
			<a href="#">Comprar</a>
		</div>
		
		<div class="preco-item">
			<h2>Ouro</h2>
			<span><sup>R$</sup>79</span>
			<ul>
				<li>Planos Ilimitados</li>
				<li>Acesso Restrito</li>
				<li>Conteúdo Secreto</li>
				<li>Suporte 24h</li>
				<li>Compra Exclusiva</li>
				<li>Download dos Itens</li>
			</ul>
			<a href="#">Comprar</a>
		</div>
	</section>

  <section class="qualidade" id="qualidade">
		<div class="qualidade-item">
			<h2>Inteligente</h2>
			<p>O que temos que ter sempre em mente é que a determinação clara de objetivos afeta positivamente a correta previsão </p>
		</div>
		
		<div class="qualidade-item">
			<h2>Compacto</h2>
			<p>O que temos que ter sempre em mente é que a determinação clara de objetivos afeta positivamente a correta previsão das condições inegavelmente</p>
		</div>
		
		<div class="qualidade-item">
			<h2>Econômico</h2>
			<p>O que temos que ter sempre em mente é que a determinação clara de objetivos afeta positivamente a correta previsão </p>
		</div>
		
		<div class="qualidade-item">
			<h2>Transparente</h2>
			<p>O que temos que ter sempre em mente é que a determinação clara de objetivos afeta positivamente a correta previsão </p>
		</div>
		
		<div class="qualidade-item">
			<h2>Opaco</h2>
			<p>O que temos que ter sempre em mente é que a determinação clara de objetivos afeta positivamente a correta previsão das condições inegavelmente</p>
		</div>
		
		<div class="qualidade-item">
			<h2>Sustentável</h2>
			<p>O que temos que ter sempre em mente é que a determinação clara de objetivos afeta positivamente a correta previsão </p>
		</div>
	</section>

  <section class="newsletter">
		<div class="newsletter-info">
			<h1>Newsletter</h1>
			<p>assine e fique por dentro das novidades</p>
		</div>
		<form class="newsletter-form">
			<input type="text" placeholder="Seu e-mail">
			<button type="submit">Assinar</button>
		</form>
	</section>
	
	<footer class="footer">
		<p>FlexBlog © Todos os direitos reservados.</p>
	</footer>

{{outlet}}