<div class="super-info">
  <div class="info-item">
    <p> Seg / Sex - 08:00 ás 8:00</p>
    <a href="tel:+5562998550998">+55 62 99855-0998</a>
    <p>Av. Ali Perto, 330, Botafogo - RJ</p>
  </div>
</div>

<head class="menu-container">
  <div class="menu">
    <div class="menu-log">
      <a href="">Instituto Assitir</a>
    </div>
    <nav>
      <ul>
        <li><a href="#sobre"></a>Sobre</li>
        <li><a href="#produtos"></a>Produtos</li>
        <li><a href="#preco"></a>Preço</li>
        <li><a href="#qualidade"></a>Qualidade</li>
      </ul>
    </nav>
  </div>
</head>

<h1 class="introduction">Novos valores e<br>Propriedades de CSS</h1>

<section class="sobre" id="sobre">
  <div class="sobre-info">
    <h1>Sobre</h1>
    <p>O que temos que ter sempre em mente é que a determinação clara de objetivos afeta positivamente a correta previsão das condições inegavelmente apropriadas objetivos.</p>
		<p>O que temos que ter sempre em mente é que a determinação clara de objetivos afeta positivamente a correta previsão das condições inegavelmente apropriadas objetivos.</p>
  </div>
  <div class="sobre-img">
		<img src="/images/sobre1.jpg" alt="Sobre 1">
	</div>
	<div class="sobre-img">
		<img src="/images/sobre2.jpg" alt="Sobre 2">
	</div>
</section>

{{outlet}}